.product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: self-start;
  gap: 1vh;
  margin: 2vh 0vh;
}

.offer-details .card-text {
  text-align: start;
  padding: 2vh;
}

.offer-details {
  padding: 0px;
  margin: 0px;
  background-color: black;
}

.offer-details .card-text, .add-to-cart-btn {
  background-color: black;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.offer-details .card-text *{
  color: white;
  font-size: 2.1vh;
}

.offer-details button {
  padding: 10px 15px;
  background-color: black;
  color: white;
  border: none;
}

.offer-details button:hover,
.offer-details button:focus {
  color: whitesmoke;
}

.modal-header .close {
  color: white;
  font-size: 1.5rem; 
}

.modal-header .close:hover {
  color: #f0f0f0; 
}

.custom-modal-dialog .modal-content {
  background-color: white;
  color: black;
  max-width: 350px;
  margin: auto;
}


.custom-modal-dialog .modal-header {
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.custom-modal-dialog .modal-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  color: black;
}
.custom-modal-dialog .modal-body button:focus{
background-color: black;
color: white;
}

.custom-modal-dialog .modal-footer {
  padding: 5px;
  background-color: black;
  border-radius: 0px;
}
.custom-modal-dialog .modal-footer button {
  width: 100%;
  border: none;
}
.contact-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
  padding: 3vh;
  gap: 2vh;
  background-color: black;
  color: white;
}


.card-header{
  display: flex; 
justify-content: space-between;
}

.offer-details {
  position: relative;
}
