.items-cart {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* Espace entre les éléments du panier */
}

.cart-item {
    display: flex; /* Chaque élément du panier est un conteneur flex */
    align-items: center; /* Alignement vertical des éléments */
    gap: 1rem; /* Espace entre l'image et les détails */
    padding: 1rem;
    border: 1px solid #ddd; /* Bordure optionnelle pour séparer les éléments */
    border-radius: 8px; /* Coins arrondis */
    justify-content: space-between; /* Espace entre les détails et l'icône */
    position: relative;
}

.cart-item img {
    width: 30vh; /* Largeur fixe pour l'image */
    height: 30vh; /* Hauteur fixe pour l'image */
    object-fit: cover; /* Pour que l'image conserve ses proportions */
    border-radius: 8px; /* Coins arrondis pour l'image */
}

.cart-item-details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem; /* Espace entre les détails */
    flex-grow: 1; /* Permet aux détails de prendre l'espace disponible */
}

.cart-item-details span {
    font-size: 1rem;
    color: #333;
}

.cart-item-details .price {
    font-weight: bold;
    color: #000;
}

.cart-item-actions {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2vh;
}

.cart-total {
    margin-top: 2rem;
    text-align: right;
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 5vh;
    margin-bottom: 5vh;
}
.cart-total button{
    margin-top: 5vh;
    color: white;
    padding: 2vh 10vh;
}
/* Media query pour les écrans mobiles */
@media (max-width: 768px) {
    .cart-item {
        flex-direction: column; /* Afficher les éléments en colonne */
        align-items: flex-start; /* Aligner les éléments à gauche */
        padding-top: 8vh;
        padding-right: 5vh;
    }

    .cart-item img {
        width: 100%; /* L'image prend toute la largeur */
        height: auto; /* Hauteur automatique pour conserver les proportions */
        margin-bottom: 1rem; /* Espace entre l'image et les détails */
    }

    .cart-item-details {
        width: 100%; /* Les détails prennent toute la largeur */
    }

    .cart-item-actions {
        top: 0;
        right: 0;
        padding: 2vh;

    }
    .cart-total button{
     width: 95%;
    }
}