html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: white;
  font-family: inherit;
}

.error {
  color: rgb(235, 80, 80);
}

.logo {
  color: #0b162c;
}

.title {
  font-size: 28px;
  font-weight: bold;
  color: black;
  text-align: center;
  margin: 3Cvh 0vh;
}
.hover-bg-whitesmoke:hover {
  background-color: black;
  color: whitesmoke;
}


select * {
  -webkit-appearance: none;

  background-color: #f0f0f0;
  color: #344D59;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  appearance: none; /* Supprime le style natif du navigateur */
}

select *:hover {
  background-color: #000;
  color: #fff;
}

option {
  background-color: white;
  color: black;
}

option:hover {
  background-color: black;
  color: white;
}

.btn{
  background-color: black;
  color: white;
  border-radius: 0px;
}
.btn:hover, .btn-primary:hover{
  background-color: white;
  border: 1px solid black;
  color: black;
}

.modal-content{
  border-radius: 0px;
}