.more-article {
  display: flex;
  padding: 1vh 0vh;
}

.article-item {
  position: relative;
  cursor: pointer;
  padding: 0.8vh;
}

.article-item img {
  width: 100%;
  height: auto;
  display: block;
}

.article-text {
  position: absolute;
  bottom: 20px;
  left: 30px;
  background-color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 20px;
  font-weight: bold;
  z-index: 1;
  font-size: larger;
}

.article-text:hover {
  background-color: rgba(255, 255, 255, 0.9);
  transition: ease 0.3s ;
}

@media (max-width: 800px) {
  .more-article {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5vw;
  }
}
