.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.product-list .card {
  width: 18rem;
  margin: 1rem;
border: 1px solid #ddd;
}

.product-list .card:hover {
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.1);
}

.product-list .card img {
  height: 200px;
  max-width: 100%;
  width: 100vh;
  object-fit: cover;
  border-bottom: 0.1rem solid #ddd;
}

.product-list .card .card-body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-list .card-title {
  font-size: 2vh;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.5rem;
  text-align: left;
}

.product-list .card-text {
  font-size: 1.5vh;
  color: #666;
  margin-bottom: 1rem;
  text-align: left;
}



.form-btn {
  width: 100%;
  margin-bottom: 0.5rem;
  font-size: 2vh;
  padding: 1vh 1vh;
}

.form-btn {
  padding: 15px 20px;
  background-color: black;
  color: white;

}

.form-btn:hover,
.form-btn:focus {
  color: rgb(222, 221, 221);
}
.no-product-message {
  font-size: 2vh;
  text-align: center;
  font-weight: bold;
  width: 100%;
}

@media (max-width: 600px) {
  .product-list {
    flex-direction: column;
  }
}
