.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.product-list .card {
  width: 18rem;
border: 1px solid #ddd;
}

.product-list .card img {
  height: 200px;
  max-width: 100%;
  width: 100vh;
  object-fit: cover;
}

.product-list .card .card-body {
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-list .card-title {
  font-size: 2vh;
  font-weight: bold;
  color: #333;
  text-align: left;
}

.product-list .card-text {
  font-size: 1.5vh;
  color: #666;
  text-align: left;
}


.form-btn {
  border: 1px solid whitesmoke;
  border-radius: 0px;
  width: 100%;
  font-size: 2vh;
  padding: 15px 20px;
  background-color: black;
  color: white;
}

.form-btn:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
}
.no-product-message {
  font-size: 2vh;
  text-align: center;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

@media (max-width: 600px) {
  .product-list {
    flex-direction: column;
  }
}
