.product-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;

}

.product-details {
  display: flex;
  align-items: center;
  padding: 2rem;
  background-color: transparent;
  margin: 2rem auto;
  border-radius: 8px;
  max-width: 1200px;
  gap: 15rem;
}

.image-container {
  flex: 1;
  /* border:1px solid #344d59; */
  box-shadow: 1px 1px 5px #7a90a4;
  width: auto;
  height: fit-content;
}

.image-container img {
  width: 100%;
  height: auto;
}

.details {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.details h2 {
  font-size: 2rem;
  color: #344d59;
  margin-bottom: 1rem;
}

.details .price {
  font-size: 1.5rem;
  color: #137c8b;
  font-weight: bold;
  margin-bottom: 1rem;
}

.tax-included {
  font-size: 0.9rem;
  color: #7a90a4;
}

.description {
  font-size: 1rem;
  color: #7a90a4;
  margin-bottom: 1.5rem;
}

/* .add-to-cart-btn,
.buy-now-btn {
  background-color: black;
  color: #fff;
  border: none;
  padding: 0.8rem 1.5rem;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
} */

.buy-now-btn {
  background-color: #344d59;
}

/* .add-to-cart-btn:hover,
.buy-now-btn:hover {
  background-color: #709ca7;
} */

.contact a {
  color: #137c8b;
  text-decoration: none;
  font-weight: bold;
}

.contact a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .product-details {
    flex-direction: column;
  }

  .image-container {
    max-width: 100%;
    margin-bottom: 1.5rem;
  }

  .details h2 {
    font-size: 1.5rem;
  }
}


