form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

form > div {
  margin-bottom: 15px;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  font-size: 16px;
  cursor: pointer;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="file"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

button[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  color: whitesmoke;
}

p {
  text-align: center;
  /* font-weight: bold; */
}

p[style*="color: red"] {
  color: #ff4d4d;
}

p[style*="color: green"] {
  color: #4caf50;
}

.product-add-btn {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}
.product-add-btn .btn {
  padding: 15px 20px;
  background-color: black;
  color: whitesmoke;
  border: none;
}

.product-add-btn .btn:hover,
.product-add-btn .btn:focus {
  color: rgb(222, 221, 221);
}

@media (max-width: 600px) {
  form {
    padding: 15px;
  }

  input[type="text"],
  input[type="number"],
  input[type="date"],
  input[type="file"],
  textarea {
    padding: 8px;
    font-size: 14px;
  }

  button[type="submit"] {
    padding: 10px;
    font-size: 14px;
  }
}
